In [1]:
import sqlite3

In [2]:
# Kết nối đến SQLite (tạo database nếu chưa có)
conn = sqlite3.connect("nhanvien.db")
cursor = conn.cursor()

# 1. Tạo bảng NhanVien
cursor.execute('''
    CREATE TABLE IF NOT EXISTS NhanVien (
        MaNV INTEGER PRIMARY KEY,
        HoTen TEXT,
        Tuoi INTEGER,
        PhongBan TEXT
    )
''')

In [3]:
# 2. Chèn dữ liệu vào bảng
data = [
    (1, 'Nguyen Van A', 30, 'Ke Toan'),
    (2, 'Tran Thi B', 25, 'Nhan Su'),
    (3, 'Le Van C', 28, 'IT'),
    (4, 'Pham Thi D', 32, 'Ke Toan'),
    (5, 'Vu Van E', 26, 'IT'),
    (6, 'Nguyen Thi F', 29, 'Marketing'),
    (7, 'Le Thi G', 27, 'Nhan Su'),
    (8, 'Hoang Van H', 35, 'Ke Toan'),
    (9, 'Pham Van I', 33, 'Marketing'),
    (10, 'Tran Van J', 24, 'IT'),
    (11, 'Dang Thi K', 31, 'Nhan Su'),
    (12, 'Nguyen Van L', 28, 'Ke Toan'),
    (13, 'Tran Thi M', 26, 'Marketing'),
    (14, 'Pham Van N', 30, 'Nhan Su'),
    (15, 'Hoang Thi O', 27, 'IT')
]

In [4]:
# 3. Lấy toàn bộ thông tin nhân viên
cursor.execute("SELECT * FROM NhanVien")
print(cursor.fetchall())

# 4. Truy vấn HoTen và Tuoi của nhân viên phòng IT
cursor.execute("SELECT HoTen, Tuoi FROM NhanVien WHERE PhongBan = 'IT'")
print(cursor.fetchall())

# 5. Tìm nhân viên có độ tuổi lớn hơn 25
cursor.execute("SELECT * FROM NhanVien WHERE Tuoi > 25")
print(cursor.fetchall())

[]
[]
[]

In [5]:
# 6. Nhân viên lớn tuổi nhất của mỗi phòng ban
cursor.execute('''
    SELECT PhongBan, HoTen, Tuoi 
    FROM NhanVien 
    WHERE (PhongBan, Tuoi) IN (
        SELECT PhongBan, MAX(Tuoi) 
        FROM NhanVien 
        GROUP BY PhongBan
    )
''')
print(cursor.fetchall())

[]

In [6]:
# 7. Cập nhật PhongBan của Le Van C sang Marketing
cursor.execute("UPDATE NhanVien SET PhongBan = 'Marketing' WHERE MaNV = 3")
conn.commit()

# 8. Xóa nhân viên có MaNV = 2 và đếm số nhân viên theo phòng ban
cursor.execute("DELETE FROM NhanVien WHERE MaNV = 2")
conn.commit()

cursor.execute("SELECT PhongBan, COUNT(*) FROM NhanVien GROUP BY PhongBan")
print(cursor.fetchall())

[]

In [7]:
cursor.executemany("INSERT INTO NhanVien VALUES (?, ?, ?, ?)", data)
conn.commit()

In [8]:
# Đóng kết nối
conn.close()